body,html
{
    height: 100%;
    display: grid;
    margin:0 0 0 0;
}
#mycanvas
{
    margin: auto;
    position: relative;
    border:1px solid #000000;
}
#menu
{
    margin-top: 2.5%;
    position: absolute;
    right: 0;
}
#analyse_window{
    background-color:rgba(169, 169, 169, 0.2);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2.5%;
    top:0;
    width:auto;
    z-index:100;
    font-size:px;
    color: orange;
}
#preview
{
  margin: auto;
}
.circle-div
{
  max-width: 40px;
}
.circle
{
  display: inline;
  height: 40px;
  width: 20px;
}
.circle-right
{
  
  float: left;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
.circle-left
{
  float: right;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}
#r1-circle{background-color: rgb(0,0,0);}
#r2-circle{background-color: rgb(255,0,0);}

#g1-circle{background-color: rgb(0,0,0);}
#g2-circle{background-color: rgb(0,255,0);}

#b1-circle{background-color: rgb(0,0,0);}
#b2-circle{background-color: rgb(0,0,255);}

#rgb1-circle{background-color:rgb(0,0,0);}
#rgb2-circle{background-color: rgb(255,255,255);}


#rgb_condition_menu
{
  background-color: white;
  height: 100%;
}